
body {
    background: #9DB9E1;
  }
  


  .main .pronum{
    background: white;
    width: 1350px;
    border-collapse: separate;
    margin: auto;
    height: auto;
    display: grid;
  }
.main .content{
    background: white;
    width: 1350px;
    border-collapse: separate;
    margin: auto;
    height: 600;
    display: grid;
  }

.button{
  float:right;
}
.main .tt{
  margin:10px;
}
.main .code{
  margin-left:0;
  margin-top:1px;
  margin-bottom: 1px;
  font-family: 'Sriracha', cursive;
  font-weight: lighter;
  font-size: 25px;
  color: white;
}

table{
  border-top:1px solid #444444;
  border-collapse: collapse;
}
th, td{
  border-bottom : 1px solid #444444;
  padding : 10px;
}
