<html lang="ko">

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js"></script>
<script
	src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=desert"></script>

</html>


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>write_page</title>
	<link rel="stylesheet" href="{{url_for('static',filename='read.css')}}">
	<div
		style="font-size: 50px; text-align:center; margin-top: 70px; font-weight: bold; font-family: Alvania; color:white;">
		Long Long's code</h8>
	</div>
	<style>
		* {
			font-family: Consolas, serif;
		}
	</style>
	<script>
		window.onload = function () {
			var str = document.getElementById('old_code').value;
			str = str.replace(/inha_univ/g, "\/n");
			document.getElementById('result').innerHTML = str;
			var element = document.getElementById('result')
			element.classList.remove("prettyprinted");
			prettyPrint();

		}

		function next() {
			var frm = document.read_code;
			frm.method = "post";
			frm.submit();
			location.href = "/modify"
		}
		function confirmDelete() {
			var confirmflag = confirm("삭제하시겠습니까");
			if (confirmflag) {
				return true;
			}
			else {
				return false;
			}
		}
	</script>

</head>

<body>
	</br></br>
	<tr>
		<form name="read_code" action="/modify" method="POST">
			<h1 class="pronum">
				<td><output type="text" placeholder="Enter [Problem number] Problem title" name="subject"></td>
			</h1>
	</tr>
	<tr>
		<td>
			<input type="hidden" id="old_code" value="{{data[0].code}}">
			<pre class="prettyprint" id="result" style="border-radius:15px;font-size:18px;font-weight:100;"></pre>
			
			<input type="hidden" name="seq" value="{{data[0].seq}}">
			<input type="hidden" name="code" value="{{data[0].code}}">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			{% if me %}
			<input
				style="margin-right: 2px;margin-top:0;float:right;font-family: 'a타이틀고딕1', cursive;font-size:20px;margin-bottom:20px;"
				class="modify_button" type="submit" value="modify" onclick="next()">
			{% endif %}
			</form>
		</td>
		<td colspan="2">
			<form name="Delete_code" action="/Delete" method="POST">
				<input type="hidden" name="seq" value="{{data[0].seq}}">

				{% if me %}
				<input
					style="background-color:red;margin-right: 2px;margin-top:0;float:right;font-family: 'a타이틀고딕1', cursive;font-size:20px;margin-bottom:20px;"
					class="modify_button" type="submit" value="Delete" onclick="return confirm('삭제하시겠습니까');" />
				{% endif %}
		</td>
		</form>
	</tr>
	{% if cmt %}
	<table style="font-family: 'a타이틀고딕1';">
		<thead>
			<th>작성자</th>
			<th>내용</th>
			<th>날짜</th>
			<th></th>
		</thead>
		<tbody>
			{% for i in cmt %}
			<tr>
				<td>
					<font size='4' face='a타이틀고딕1;'>{{i['name']}}</font>
				</td>
				<td>
					<font size='4' face='a타이틀고딕1;'>{{i['content']}}</font>
				</td>
				<td>
					<font size='4' face='a타이틀고딕1;'>{{i['date']}}</font>
				</td>
				{% if i['me'] %}
				<td>
					<form name="delete_cmt" action="/delete_comment" method="POST">
						<input type="hidden" name="num" value="{{i['num']}}">
						<input type="submit" value="Delete" onclick="return confirm('댓글을 삭제하시겠습니까?');">
					</form>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	<tr>
		<form name="comment" action="/comment" method="POST">
			<input type="hidden" name="seq" value="{{data[0].seq}}">
			<td>
				<input type="text" name="content">
			</td>
			<td>
				<input type="submit" value="등록">
			</td>
		</form>
	</tr>
	
</body>